body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

#navbar {
    width: 200px;
    background-color:#2e3b4e;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}
#navbar header {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.nav-link {
    display: block;
    color: #ffffff;
    margin: 10px 0;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#main-doc {
    margin-left: 220px; /* Space for the navbar */
    padding: 20px;
    width: 100%;
}
.main-section header {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.main-section {
    margin: 10px 0;
}


h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #333;
}

p {
    font-size: 16px;
}

ul {
    margin: 10px 0;
}

li {
    margin: 5px 0;
}
code {
    display: block;
    background-color: #f4f4f4;
    padding: 5px;
    margin: 10px 0;
    font-family: monospace;
}

/* Media Queries */
@media (max-width: 768px) {
    #navbar {
        width: 100%;
        position: relative;
        height: auto;
    }

    #main-doc {
        margin-left: 0;
    }
}
